.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.numbers-game .fa-star {
    margin: 0.5em;
    font-size: 24px;
}

.numbers-game span {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    background-color: #ccc;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.numbers-game .selected {
    background-color: #eee;
    color: #ddd;
    cursor: not-allowed;
}

.numbers-game .used {
    background-color: #aaddaa;
    color: #99bb99;
}

